#**List exercises**

#1. Print multiples of 3 upto 200 using a list

In [2]:
l_range=3
u_range=200
a=[ x for x in range(l_range,u_range+1) if x%3==0]
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

#2. Print the nos only divisible by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [3]:
l_range=1000
u_range=2000
a=[ x for x in range(l_range,u_range+1) if (x%5==0 and x%7==0)]
print(a)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

#3. Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [7]:
l=[]
n=int(input("Enter the value of n "))
for i in range(n):
  name=input("Enter name ")
  l.append(name)
l.sort()
print(l)
l.sort(reverse=True)
print(l)

Enter the value of n 3
Enter name Jasmine
Enter name Sudha
Enter name Parimala
['Jasmine', 'Parimala', 'Sudha']
['Sudha', 'Parimala', 'Jasmine']

#4. Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [9]:
import math
def perfect(num):
  root = math.sqrt(num)
  if int(root + 0.5) ** 2 == num:
    return True
  else:
    return False

l_range=500
u_range=1000
a=[ x for x in range(l_range,u_range+1) if (perfect(x) and x%5==0)]
print(a)

[625, 900]

#**Tuple exercises**

#1. Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [18]:
l=[]
string=input("Enter the string ")
for word in string.split():
  l.append((len(word),word))
l.sort(reverse=True)
res = list()
for length, word in l:
    res.append(word)
print("The largest word is ",res[0])

Enter the string The Lord will bless you from zion
The largest word is  bless

#2. Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.

In [21]:
from operator import itemgetter
l=[]
n=int(input("Enter the value of n "))
for i in range(n):
  rollno=int(input("Enter Rollno "))
  mark=int(input("Enter marks "))
  l.append((rollno,mark))
list_des=sorted(l,key=itemgetter(1),reverse=True)
print(list_des)

Enter the value of n 5
Enter Rollno 2
Enter marks 56
Enter Rollno 1
Enter marks 96
Enter Rollno 5
Enter marks 82
Enter Rollno 7
Enter marks 100
Enter Rollno 10
Enter marks 90
[(7, 100), (1, 96), (10, 90), (5, 82), (2, 56)]

#3. Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [22]:
from operator import itemgetter
l=[]
n=int(input("Enter the value of n "))
for i in range(n):
  name=input("Enter Name ")
  salary=int(input("Enter salary "))
  l.append((name,salary))
list_asc=sorted(l,key=itemgetter(0))
print(list_asc)

Enter the value of n 5
Enter Name Joy
Enter salary 50000
Enter Name Jessie
Enter salary 75000
Enter Name Sudha
Enter salary 100000
Enter Name Parimala
Enter salary 65000
Enter Name Pradvi
Enter salary 65000
[('Jessie', 75000), ('Joy', 50000), ('Parimala', 65000), ('Pradvi', 65000), ('Sudha', 100000)]