#CASE STUDY 1

#Data cleaning for property_data1.csv file

#Data Cleaning is the process of preventing and correcting the errors such as duplicates, misssing values and incomplet data by importing libraries pandas and numpy

In [ ]:
import pandas as pd
import numpy as np

#Coding for importing csv files in Google colab
# Read csv file property_data.csv into a pandas dataframe

In [ ]:
from google.colab import files
import io
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['property_data1.csv']))

# Take a look at the first few rows

In [ ]:
print(df)

#Looking at the ST_NUM and NUM_ROOMS columns whether they have any null values

In [ ]:
print (df['ST_NUM'])
print (df['ST_NUM'].isnull())
print(df['NUM_ROOMS'])
print(df['NUM_ROOMS'].isnull())


#To mention possible missing values while opening the file

In [ ]:

print(df['NUM_ROOMS'])
print(df['NUM_ROOMS'].isnull())


#The above 3,4 5th index is not numeric whih needs correction again therefore we need coding part for it. It is corrected with coding below

In [ ]:

cnt = 0
for row in df['NUM_ROOMS']: 
  try:
    int(row) 
  except ValueError:
    df.loc[cnt, 'NUM_ROOMS']=np.nan 
  cnt+=1
print(df['NUM_ROOMS'])
print(df['NUM_ROOMS'].isnull())


print(df['OWN_OCCUPIED'])
print(df['OWN_OCCUPIED'].isnull())


#The above 4 th index is numeric which needs correction again therefore we need coding part for it. It is corrected with coding below

In [ ]:
cnt=0
for row in df['OWN_OCCUPIED']:
    try:
        int(row)
        df.loc[cnt, 'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    cnt+=1
print(df['OWN_OCCUPIED'])
print(df['OWN_OCCUPIED'].isnull())

# Total missing values for each feature

In [ ]:
print(df.isnull().sum())
print('Total missing values')
print(sum(df.isnull().sum()))


#Finding TOTAL missing of each mission fields and Total number of missing values

In [ ]:

print(df['ST_NUM'].isnull().sum()) 
print(df['ST_NAME'].isnull().sum()) 
print(df['NUM_ROOMS'].isnull().sum()) 
print(df['OWN_OCCUPIED'].isnull().sum()) 
print(df.isnull().sum().sum())


#Finding COUNT AND average of missing of each mission fields and Total number of df.shape

In [ ]:

print(df['ST_NUM'].isnull().sum()/9.0)
print(df['ST_NAME'].isnull().sum()/9.0) 
print(df['NUM_ROOMS'].isnull().sum()/9.0) 
print(df['OWN_OCCUPIED'].isnull().sum()/9.0)


# error percentages are greater than 10%
# Replace missing values with a number

In [ ]:
df['ST_NUM'].fillna(125, inplace=True)
print('   ST_NUM')
print(df['ST_NUM'])

# Replace using median

In [ ]:
median = df['NUM_ROOMS'].median()
df['NUM_ROOMS'].fillna(median, inplace=True)
print(df['NUM_ROOMS'])


print(df)


#To find the maxmum occurrence of the values in the attribute OWN_OCCUPIED

In [ ]:

df['OWN_OCCUPIED'].value_counts().idxmax()

df

#Finding all values occurrence

In [ ]:

df['OWN_OCCUPIED'].value_counts()


#Replacing all NaN in ST_NUM with some random value 125

In [ ]:
df['ST_NUM'].fillna(125)

df


#Replacing all NaN in own_occupied with N is justified as its occurrence is more

In [ ]:

df['OWN_OCCUPIED'].fillna('N',inplace=True)
df